{% extends 'layouts/app.html.twig' %}

{% block content %}
<table>
    <tr>
        <th>№</th>
        <th>User name</th>
    </tr>
    {% for key, user in users %}
        <tr>
            <td>{{ (key + 1) }}</td>
            <td>{{ user.getName() }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}